button {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 1.2rem;
  text-decoration: none;
  color: black;
  background-color: white;
  position: relative;
}

button:hover {
  background-color: lightblue;
}

button:active {
  background-color: yellow;
}
